body {
  background: #fff;
  margin: 0;
  padding: 0;
  color: #222;
}

.container {
  @include small() {
    padding: 0px 15px !important;
    box-sizing: border-box;
  }

  @include large() {
    padding: 0px 15px !important;
    max-width: 1120px !important;
    margin: 0 auto;
  }
}

a {
  color: rgb(26, 121, 198) !important;
  text-decoration: none !important;
}

.rs-list-item-bordered {
  padding: 11px;
}