body {
  background: #fff;
  margin: 0;
  padding: 0;
  color: #222;
}

.container {
  @include small() {
    padding: 0px 15px;
    box-sizing: border-box;
  }

  @include large() {
    padding: 0px 15px;
    max-width: 1000px !important;
    margin: 0 auto;
  }
}

a {
  color: rgb(26, 121, 198) !important;
  text-decoration: none !important;
}