.auth-layout {
  @include small {
    .container {
      min-height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @include large {
    .container {
      height: calc(100vh - 350px);
    }
  }
}