.guidelines-layout {
  @include small {
    .container {
      display: flex;
      flex-direction: column;

      .content-nav {
        margin-bottom: 15px;
      }

      .content-wrapper {
        & > h1 {
          padding: 0 0 10px 0;
          margin: 0;
        }
        * {
          max-width: 100%;
        }
      }
    }
  }
  @include large {
    .container {
      flex-direction: row;
      gap: 25px;

      .content-nav {
        width: 250px;
      }

      .content-wrapper {
        & > h1 {
          font-size: 30px;
          padding-bottom: 20px;
        }
        flex: 1;
      }
    }
  }
}