.main-footer {
  @include small {
    background: #f6f6f6;
    padding: 15px 0px 15px 0px;
    font-size: 12px;
    margin-top: 20px;

    .credits {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      div:first-child {
        margin-bottom: 10px;
      }

      .maker {
        color: #d8d8d8;
        a {
          color: #cacaca !important;
        }
      }
    }
  }
  @include large {
    .credits {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      div:first-child {
        margin-bottom: unset;
      }
    }
  }
}